* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
}

.App-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 20px;
}

.App-link {
  position: absolute;
  bottom: 32px;
  font-size: 16px;
  color: #61dafb;
  text-decoration: none;
}

h4 {
  font-size: calc(10px + 2vmin);
  font-weight: 300;
  margin: 12px;
}

input,
textarea {
  border: 1px solid rgba(252, 252, 252, 0.4);
  background-color: rgba(252, 252, 252, 0.2);
  width: 100%;
  max-width: none;
  border-radius: 3px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 15px;
  margin: 0 auto 16px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  font-weight: 300;
}

.center-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  ;
}

.home-button {
  appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: black;
  border-radius: 3px;
  width: 250px;
  font-size: 18px;
  transition: .3s;
}

.home-button:hover {
  background-color: #61dafbdd;
}

.New-patient-container {
  background-color: #aaa;
  color: black;
  border-radius: 8px;
  width: 60%;
  min-width: 300px;
  padding: 12px 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  transition: .3s;
}

.New-patient-container:hover {
  background-color: #ddd;
}

.Accept-patient-button {
  background-color: #3a6;
  color: black;
  border-radius: 8px;
  border: 1px solid #333;
  padding: 6px 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  transition: .3s;
}

.Accept-patient-button:hover {
  font-weight: 500;
}

.Row-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Toastfy__close-button {
  max-width: 20px;
}

.choose-wrapper {
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: black;
  border-radius: 3px;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: start;
  width: 80vw;
  max-width: ;

  transition: .3s;
  cursor: pointer;
  position: relative;
}

.choose-wrapper:hover {
  background-color: #ddd;
}

.tick-icon {
  position: absolute;
  right: 10px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}